[submodule ".oh-my-zsh/custom/plugins/zsh-vim-mode"]
	path = .oh-my-zsh/custom/plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode
[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
